<!DOCTYPE html>
<html>
<head>
    <title>
        {{#if home}}
            {{title}}
        {{else}}
            {{title}} - {{site.title}}
        {{/if}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    {{#if controller}}
        <script src="js/config.js"></script>
        <script data-main="pages/{{controller}}" src="js/_lib/require.js"></script>
    {{/if}}
</head>
<body>
<div class="site-header">
    <div class="container">
        <div class="logo-container">
            <a href="/">
                {{> logo}}
                <span>FPV Rates</span>
            </a>
        </div>
        <nav>
            <a href="/">My Rates</a>
            <a href="/about">About</a>
        </nav>
        <div class="user">
            {{#if user}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/sign-up">Sign Up</a>
            {{/if}}
        </div>
    </div>
</div>
<div class="site-content">
    <div class="container">
        {{{body}}}
    </div>
</div>
</body>
</html>
