<input type="hidden" name="id" value="{{id}}">
<div class="profile-name">
    <div class="r">
        <div class="c8">
            <div class="control">
                <label for="description">Profile Name</label>
                <input type="text" name="description" value="{{description}}">
            </div>
        </div>
        <div class="c4">
            <div class="control">
                <label for="profile">Profile Index</label>
                <select name="profile">
                    <option value="0">Profile 1</option>
                    <option value="1">Profile 2</option>
                    <option value="2">Profile 3</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="rates">
    <div class="rate header">
        <div class="r">
            <div class="c1"></div>
            <div class="c3">RC Rate</div>
            <div class="c3">Super Rate</div>
            <div class="c3">RC Expo</div>
            <div class="c2">Degs/Sec</div>
        </div>
    </div>
    <div class="rate roll">
        <div class="r">
            <div class="c1">
                <span class="type-label">Roll</span>
            </div>
            <div class="c3"><input type="text" name="RRC" value="{{RRC}}"></div>
            <div class="c3"><input type="text" name="RSR" value="{{RSR}}"></div>
            <div class="c3"><input type="text" name="REX" value="{{REX}}"></div>
            <div class="c2"><input type="text" readonly></div>
        </div>
    </div>
    <div class="rate pitch">
        <div class="r">
            <div class="c1">
                <span class="type-label">Pitch</span>
            </div>
            <div class="c3"></div>
            <div class="c3"><input type="text" name="PSR" value="{{PSR}}"></div>
            <div class="c3"><input type="text" name="PEX" value="{{PEX}}"></div>
            <div class="c2"><input type="text" readonly></div>
        </div>
    </div>
    <div class="rate yaw">
        <div class="r">
            <div class="c1">
                <span class="type-label">Yaw</span>
            </div>
            <div class="c3"><input type="text" name="YRC" value="{{YRC}}"></div>
            <div class="c3"><input type="text" name="YSR" value="{{YSR}}"></div>
            <div class="c3"><input type="text" name="YEX" value="{{YEX}}"></div>
            <div class="c2"><input type="text" readonly></div>
        </div>
    </div>
</div>
<div class="cli">
    <label>CLI Commands</label>
    <textarea readonly data-cli-target>{{> cli}}</textarea>
</div>